body{
    background-color: #EEF1FF
}
h1{
    color:#6D9886
}
body{
    font-family: "Verdana", monospace}
body {color:#393E46
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}